body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.content-container {
    display: block;  /* Ensure block-level behavior */
    margin-bottom: 20px;  /* Add space below the table */
}

img {
    display: block;
    margin: 0 auto;
    width: 200px;  /* Adjust width as needed */
    height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
}

th, td {
  border: 1px solid blue;
  padding: 10px;
}